spring:
  application:
    name: modular-rag
  ai:
    mcp:
      client:
        stdio:
          connections:
            tavily-search:
              command: npx
              args:
                - "-y"
                - "tavily-mcp@0.2.12"
              env:
                TAVILY_API_KEY: ${TAVILY_SEARCH_API_KEY}
    ollama:
      init:
        pull-model-strategy: when_missing
      chat:
        options:
          model: granite4:3b
      embedding:
        options:
          model: granite-embedding:278m
    vectorstore:
      pgvector:
        dimensions: 768
        index-type: hnsw
    chat:
      observations:
        log-prompt: true
        log-completion: true
  threads:
    virtual:
      enabled: true

logging:
  level:
    org.springframework.ai.rag: debug

management:
  endpoints:
    web:
      exposure:
        include: "*"

arconia:
  dev:
    services:
      lgtm:
        enabled: false
      phoenix:
        enabled: true
  observations:
    generative-ai:
      openinference:
        enabled: true
